.row_posters_frame{
    display:flex;
    overflow-x: scroll;
    /* overflow-y: hidden; */
    padding-left: 10px;

}

.row_posters_frame::-webkit-scrollbar{
    display:none;
}
.row_poster{
    object-fit: contain;
    width:300px;
    max-height: 400px;
    transition: transform 450ms;
    /* margin-right:10px; */
    margin-bottom: 110px;
}

.row_poster:hover{
    transform: scale(1.08);
    opacity: 1;

}